html {
  top: 0;
  left: 0;
  margin: 0;
}

body {
  top: 0;
  left: 0;
  margin: 0;
  background-color: #282828;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

* {
  top: 0;
  left: 0;
  margin: 0;
}
section {
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "oo";
  src: url("./Montserrat-Medium.ttf");
}

#image3 {
  transition: ease;
}

#image4 {
  transition: ease;
}
#image5 {
  transition: ease;
}
.bg_design {
  background-image: url("./logo\ h\ \ 2.png");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-origin: center;
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s linear;
  /* filter: blur(10px); */
}

.bg_2 {
  position: absolute;
  left: 73%;
  top: 66%;
  transform: rotate(1deg);
  border-radius: 39%;
  position: absolute;
  left: 80%;
  top: 90%;
  border-radius: 32%;
  height: 48vw;
  width: 39vw;
}
.main_logo {
  position: absolute;
  height: 5vw;
  width: fit-content;
  margin-left: 3.5vw;
  top: 2vw;
}

.main_logo svg {
  fill: transparent;
  stroke: none;
  height: 5vw;
}
.main_logo svg path {
  /* fill: transparent;
  stroke: white;
  stroke-width: 0.2vw; */
}
.svg_container_design {
  position: absolute;
  top: 0%;
  display: none;
}

.svg_container_design svg {
  opacity: 0.5;
  height: 77vh;
  /* animation: svg_design 14s infinite ease-in-out; */
  transition: 0.3s ease-in-out;
  animation-direction: alternate;

  left: -15%;
}

@keyframes svg_design {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 50%;
    stroke-opacity: 0.5;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-opacity: 0.1;
    stroke-dashoffset: 90%;
  }
}

.main_title_container {
  position: absolute;
  top: 51%;
  left: 80%;
  transform: translate(-80%, -51%);
}

.svg_container svg {
  height: 6.3vw;
  width: 52vw;
}

.main_title_text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 0.5vw;
  font-weight: 100;
  font-size: 0.77vw;
}

.main_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  gap: 2vw;
}

.line {
  width: 6vw;
  height: 0.1vw;
  background: rgba(255, 255, 255, 0.2);
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1.7vw;
  position: absolute;
  top: 92%;
  height: fit-content;
  margin-left: 5%;
}

.socials .fa {
  color: white;
  font-size: 1.4vw;
  opacity: 0.8;
}

.arrow_container {
  height: 1vw;
  width: fit-content;
  position: absolute;
  left: 95%;
  top: 91%;
}

.arrow_container svg {
  height: 9vw;
  top: -7.4vw;
  position: absolute;
  transition: 1s ease-in-out;
}

.arrow_container svg:hover {
  animation: arrow_dash 1s ease forwards;
}

@keyframes arrow_dash {
  0% {
    stroke-dashoffset: 300;
    stroke-dasharray: 290;
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dasharray: 300;
    stroke-dashoffset: 0%;
  }
}

.main_navigation {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin: 4vw;
}

.navigation_links {
  color: white;
  font-size: 1vw;

  font-family: "oo";
  font-weight: 100;
  z-index: 2;
  text-decoration: none;
}

.main_signin {
  position: absolute;
  left: 88%;
  top: 3vw;
  border-radius: 7px;
  background-color: #52525265;
  color: white;
  padding: 0.9vw 2vw;
  width: 4vw;
  text-align: center;
  font-family: "oo";
  font-size: 1vw;
  z-index: 1;
}
.main_signin:hover {
  background-color: #7f7f7f;
}
.container {
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease-out;
}

.noise-container {
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: auto;
  left: 0;
  opacity: 1;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 1s ease-out;
  height: 100vh;
  width: 100vw;
  z-index: 102;
  background-image: url(https://marvinx.com/assets/images/noise.png);
  animation: noise-animation 1s steps(10) infinite;
  background-position: 0 0;
  filter: contrast(5);
}

@keyframes noise-animation {
  100% {
    background-position: 100% 100%;
  }
}

.sample_body {
  top: 0;
  left: 0;
  margin: 0;
  background-color: #010;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  width: 2.1vw;
  height: 2.1vw;
  border: 0.1vw solid rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: linear;
  z-index: 1000;
  pointer-events: none;
}
.cursor_circle {
  width: 0.8vw;
  height: 0.8vw;

  margin: 0.65vw;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s ease;
  font: 0.12vw "oo";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-align: center;
}
.cursor_circle_click {
  transform: scale(0.5);
}
.cursor_border {
  border-radius: 50%;
  width: 2.1vw;
  height: 2.1vw;
  border: 0.1vw solid #ffffff80;
  transition: 0.2s ease;
  transform: scale(1);

  border-radius: 25%;
  animation: electric 0.1s linear infinite;
  animation-play-state: running;
  font: 0.37vw "oo";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  text-align: center;
}

.cursor_border_hover {
  animation: electric 1s linear forwards;
  border-radius: 50%;
}

@keyframes electric {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.interactable {
  aspect-ratio: 1 / 1.5;
  width: clamp(120px, 40vmin, 600px);
  background-position: center 50%;
  background-size: 100%;
  opacity: 0.4;

  transition: background-size 400ms ease, opacity 400ms ease;
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.8;
}

.link_cur_hover {
  color: rgb(0, 0, 0);
}
