::after,
::before {
  box-sizing: border-box;
  display: block;
}

:root {
  /* default theme=dark */
  --b0: #000000;
  --b1: #101010;

  --f0: #ffffff;

  --bkg-colr: #eee;
  --fnt-colr: #000000;

  --texb: rgba(0, 0, 0, 0.8);

  --scrl1: rgb(0, 0, 0);
  --scrl: rgba(88, 88, 88, 0.74);

  --circ: rgba(90, 90, 90, 0.4);
}

@font-face {
  font-family: "OCRAq";
  src: url("./OCRAq.TTF") format("opentype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("./Inconsolata-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Libre Barcode";
  src: url("./LibreBarcode128Text-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "cocoon";
  src: url("./Eloxy-owYD0.otf") format("opentype");
}

@font-face {
  font-family: "LINC";
  src: url("../font/TrenchThin-aZ1J.ttf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0%;
  /* font-family: "OCRAq"; */
  background: var(--b1);
  color: var(--f0);
  z-index: 0;
  left: 0%;
  top: 0%;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  z-index: 0;
  left: 0%;
  top: 0%;
}

.grain {
  background-image: url("./old-film-cracks-and-dust-textured-background-loop-video.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
  position: fixed;
}

.lines-con {
  position: absolute;
  left: 50%;
  top: -0%;
  transform: translate(-20%, -50%);
}

.lines {
  z-index: -3;
  border: 1px solid #ffffff8d;
  background-color: #01010100;
  height: 87vw;
  width: 87vw;
  border-radius: 50%;
  animation: lines 7s ease-in-out infinite;
  top: 50%;
  transform: rotateZ(0deg);
}

@keyframes lines {
  0% {
    border-radius: 50%;
  }

  50% {
    border-radius: 25%;
    transform: rotateZ(360deg);
  }

  90% {
  }
}

.logo-con {
  position: absolute;
  border: 3px solid white;
  width: fit-content;
  height: fit-content;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  background: url("./Vector\ 1.svg");
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
}

.logo-main {
  background: url(./favicon.png);
  z-index: 15;
  height: 4vw;
  width: 4vw;
  left: 9%;
  top: 4%;
  transform: translate(0%, -50%);
  transform: rotate(0deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 40%;
  transition: 0.1s ease-in-out;
  display: none;
}

.logo-main:hover {
  transform: rotate(360deg);
  border: 2px solid white;
  border-radius: 50%;
}

section {
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 350px;
  overflow: hidden;
  z-index: 2;
}

.s1 {
  position: relative;
  height: max-content;
  min-height: 526px;
  left: 0;
  top: 0;
}

.s0 {
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 526px;
}

.bg {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: -5;
  overflow: hidden;
  position: fixed;
}

.main-title {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5vw;
}

.main-sub {
  font-family: "cocoon";
  font-weight: 100;
  font-size: 0.7vw;
  opacity: 0.6;
  margin-top: 1vw;
}

.head-con {
  color: var(--f0);
  position: absolute;
  /* left: 16%; */
  left: 5%;

  top: 6%;
  transform: translate(0%, -50%);
  z-index: 10;
  font-family: "cocoon";
}

.head-con ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

.hc ul {
  gap: 0%;
}

.head-con ul li {
  padding-top: 6%;
}

.intro {
  position: absolute;
  font-weight: 100;
  font-size: 0.8vw;
  left: 8%;
  top: 58%;
  opacity: 0.5;

  transform: translate(-0%, 0%);
  max-width: 32%;
  margin-top: 3vw;
}

.line1 {
  font-family: "cocoon";
  font-weight: 100;
  font-size: 0.7vw;
  opacity: 0.4;
  transform: translate(-0%, 0%);
  max-width: 30%;
  margin-top: 0.3vw;
}

button {
  min-width: 7vw;
  /* max-width: 7vw; */
  padding: 0.7vw 0.3vw;
  background-color: #fbfbfb00;
  color: var(--f0);
  border: 2px solid rgba(255, 255, 255, 0.449);
  font-size: 1vw;
  text-align: center;
  transition: 0.1s;
  cursor: pointer;
}

button:hover {
  background-color: var(--f0);
  color: var(--b0);
}

.tit-but {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  left: 8%;
  margin-top: 5vw;
  margin-top: 1vw;
  display: none;
}

.slogans {
  margin-top: 1vw;
  width: fit-content;
  font-size: 0.7vw;
  font-weight: 100;
  font-style: italic;
  opacity: 0.8;
}

.main-tit-con {
  position: absolute;
  border: 0px solid white;
  margin-left: 10%;
  top: 36vh;
  display: flex;
  flex-direction: column;
  max-width: 35%;
}

.join-t {
  display: flex;
  flex-direction: row;
  gap: 2vw;

  position: absolute;
  margin-right: 5%;
  right: 0;

  top: 5%;
}

.m1 {
  border: #00000000;
}

.m2:hover {
  background-color: #fbfbfb00;
  color: var(--f0);
  border: 2px solid rgba(255, 255, 255, 0.449);
  background-color: #ffffff;
  color: var(--b0);
}

.m2 {
  border: #00000000;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0.449);
}

.arrow {
  font-family: "Advent Pro";
  font-weight: 800;
  width: 7vw;
  height: 2.5vw;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom
      right/4vw 0.2vw,
    linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) bottom right/0.2vw
      11vw,
    linear-gradient(
      to top right,
      transparent calc(50% - 2px),
      rgba(0, 0, 255, 0) calc(50% - 2px),
      rgba(0, 0, 255, 0) calc(50% + 2px),
      transparent calc(50% + 2px)
    );
  background-repeat: no-repeat;
  margin-top: 2.3vw;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: 1vw;
}

.arrow:hover {
  background: linear-gradient(rgba(255, 255, 255, 0.423), rgb(255, 255, 255))
      bottom right/1vw 0.2vw,
    linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0.413)) bottom right/0.2vw
      1vw,
    linear-gradient(
      to top right,
      transparent calc(50% - 2px),
      rgba(0, 0, 255, 0) calc(50% - 2px),
      rgba(0, 0, 255, 0) calc(50% + 2px),
      transparent calc(50% + 2px)
    );
  color: #000000;
  background-color: #000000;
  opacity: 1;
  font-weight: 900;
}

.scroll-d {
  position: absolute;
  border: 0px solid white;
  margin-right: 5%;
  right: 0;

  bottom: 6vh;
  bottom: 8%;

  bottom: 7vh;
}

#wrapper {
  display: table;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

#scroll-down {
  display: block;
  position: relative;
  padding-top: 79px;
  /*   
  padding-top: 47px; */
  padding-top: 6vw;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 0 auto;
  width: 0.9vw;
  height: 0.9vw;

  width: 1vw;
  /* height: 5vw; */
}

.arrow-down:after {
  content: "";
  display: block;
  margin: 0;
  padding: 0;
  width: 0.9vw;
  height: 0.9vw;
  border-top: 2px solid #ffffffc7;
  border-right: 2px solid #ffffffc7;
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

#scroll-title {
  display: block;
  text-transform: uppercase;
  color: #ffffffc7;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#scroll-down::before {
  /* IE 10+, Fx 29+ */

  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -0.1vw;
  width: 0.2vw;
  /* height: 54px; */
  height: 6.8vw;
  background: #ffffffc7;
  content: " ";
}

.scroll-d:hover #scroll-down {
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }

  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

#paschka {
  display: block;
  color: white;
  font-family: helvetica neue, helvetica, arial;
  font-size: 32px;
  text-decoration: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 0px;
  transition: all 0.1s ease;
  background: #000;
  height: 40px;
  line-height: 30px;
  vertical-align: middle;
  width: 40px;
  text-align: center;
  border-radius: 5%;
  bottom: 20px;
  right: 20px;
}

.screen-reader-text,
.nectar-skip-to-content:not(:focus) {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.con_l {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  /* top: 50%; */
  width: 227px;
  left: 6%;
  list-style-type: none;
  bottom: 50%;
  bottom: 48%;
}

.socials {
  border: 0px solid var(--fnt-colr);
  width: max-content;
  height: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* top: 34px; */
  top: 38vh;

  position: absolute;
  transition: 0.1s ease-in-out;
  z-index: 0;
}

.button_social_group a {
  margin-right: 0.8vw;
  margin-left: 0.8vw;
  color: var(--f0);
  transition: 0.2s;
  text-decoration: none;
}

.button_social_group a i {
  font-size: 1.2vw;
}

.button_social_group:hover a:not(:hover) {
  opacity: 0.4;
}

.fa {
  font: normal normal normal 1.4vw/1 FontAwesome;
}

.feed-con {
  position: absolute;
  border: 0px solid white;
  width: 18vw;
  height: fit-content;
  left: 80%;
  top: 52%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 2vw;
  cursor: pointer;
}

.feed-img {
  background-color: #ffffff00;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("./album_art_2.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 18vw;
  width: 18vw;

  border-radius: 1%;
  z-index: 0;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0 0 200px rgba(0, 0, 0, 0.8) inset; */
}

.feed-img:hover {
  background-image: url("./album_art_2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.feed-title {
  font-family: "cocoon";
  font-weight: 400;
  font-size: 1.2vw;
  opacity: 1;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.feed-desc {
  z-index: 10;
  font-size: 0.7vw;
  font-weight: 100;
  font-style: italic;
  opacity: 0.8;
  /* top: 0%; */
  bottom: 0%;
  position: absolute;

  width: 18vw;
  padding: 2vw;
  transition: 0.3s ease-in-out;
}

.feed-space {
  height: 18vw;
  width: 18vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.9) 100%
  );
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.feed-more {
  z-index: 5;
  bottom: 0%;
  position: absolute;
  padding: 5px;
  float: right;
  right: 0%;
  opacity: 0;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: 0.3s ease;
}

.feed-con:hover .feed-space {
  opacity: 1;
}

.feed-dcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.feed-dcon .feed-more {
  position: relative;
  border: 0px solid white;
}

.feed-con:hover .feed-more {
  opacity: 1;
}

.desc-title {
  font-size: 1vw;
  margin-bottom: 10%;
  font-style: normal;
}

.feed-nav {
  position: absolute;
  border: 0px solid white;
  height: fit-content;
  right: -7vw;
  top: 45%;
  transform: translate(-50%, -50%);
}

.feed-nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 0;
  justify-content: space-around;
}

.feed-nav ul li {
  font-size: 2vw;
  list-style: circle;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.feed-nav ul li:hover {
  /* font-size: 2.8vw; */
  list-style: disc;
}

.feed-nav ul .active {
  list-style: disc;
  list-style: circle;
}

body::-webkit-scrollbar {
  width: 4px;
  position: absolute;
  z-index: 19;
}

.main {
  position: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img_sc {
  background-image: url("./Group\ 11.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 55vw;
  float: right;
  margin-right: -10%;
  margin-top: -3%;
}

.sec_title {
  /* margin-top: 4%; */
  background-color: #42424281;
  width: 100%;
  padding: 1vw;
  /* border: 2px solid white; */
  transition: 0.3s ease-in-out;
  /* width: 23%; */
  width: 70%;

  margin: 9%;
  margin-left: 15%;
  margin-right: 15%;

  width: fit-content;
  margin: initial;
  /* margin-top: 9%; */
  background-color: #00000012;
  background-color: #0000003d;
  margin-bottom: 9%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  /* backdrop-filter: blur(7px); */
  font-weight: 200;
}

.sec_title_tex {
  /* margin-left: 9vw; */
  text-align: center;
  font-family: "Advent Pro";
  font-weight: 600;
  font-size: 3vw;
}

.to_title {
  font-size: 2vw;
  margin-top: 7%;
  margin-left: 9%;
  font-weight: lighter;
}

.desc {
  font-weight: 100;
  font-size: 1.1vw;
  margin-top: 3%;
  font-style: normal;
  color: #eee;
  width: 50%;
  margin-left: 9%;
  line-height: 150%;
}

.desc_2 {
  font-weight: 100;
  font-size: 1.1vw;
  margin-top: 3%;
  font-style: normal;
  color: #eee;
  line-height: 150%;
  font-style: italic;
}

.descc_2 {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-style: oblique;
  font-weight: 700;
}

.but_desc_2 {
  display: flex;
  margin-left: 9%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2vw;
}

.desc_but:hover {
  background-color: #eee;
  color: #000;
}

.desc_but {
  transition: 0.1s;
  margin-top: 8%;
  padding: 0.8vw;
  font-size: 0.8vw;
  font-weight: 100;
  width: 4.5vw;
  height: 2vw;
  min-width: 1vw;
  border-radius: 10%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.art_con {
  width: 100%;
  height: 40%;
  overflow-y: hidden;

  overflow-x: scroll;
}

.art_scro {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 1vw;
}

.art_card {
  height: 100%;
  width: 20vw;
  min-width: 10rem;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10%;
}

.art_bg {
  background-image: url("./blbg.jpg");
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.bot-nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.603);
  height: 100%;
  color: var(--t1);
  min-height: 390px;
  z-index: 0;
}

.bot-style {
  position: absolute;
  font-weight: bolder;
  text-align: center;
  font-family: "LINC";
  transform: translate(-50%, 34vh);
  left: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: fit-content;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 3.5vw;
}

.line {
  border-top: 0px solid rgb(255, 255, 255);
}

.bot-text {
  text-align: center;

  font-size: 0.8vw;
  font-weight: 400;
}

.lk1 {
  display: none;
}

.bot-service {
  position: absolute;
  display: block;
  width: fit-content;
  font-size: 0.7vw;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 35vh;

  font-weight: 600;
  text-align: center;
  font-family: LINC;
  text-decoration: none;
  font-family: "Advent Pro";
}

.service_clumb {
  width: 100%;
}

.bot-service a {
  color: white;
}

.con_ll {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: absolute;
  width: 227px;
  left: 50%;
  transform: translate(-50%, 0%);
  list-style-type: none;
  bottom: 50%;
  justify-content: center;
}

.land-title {
  /* padding-top: 23px; */
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 230%;
  font-weight: 700;
  /* left: 12%; */
  /* left: 50%; */
  top: 10%;
  transform: translate(-50%, -10%);
  left: 50%;
  width: fit-content;
  text-align: center;
  font-family: "LINC";
}

.lines-con_foot {
  /* left: 50%; */
  /* top: -0%; */

  transform: translate(-50%, -50%);
  animation: slide 14s ease infinite;
}

@keyframes slide {
  50% {
    transform: translate(-54%, 50%);
  }
}

.logo-con_foot {
  position: absolute;
  border: 0px solid white;
  width: fit-content;
  height: 100%;
  /* left: 80%; */
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
}

.loconl {
  transform: translate(50%, 0%);
}

.loconll {
  transform: translate(46%, 50%);
  animation: slidef 14s ease infinite;
}

@keyframes slidef {
  50% {
    transform: translate(50%, -50%);
  }
}

.lines_footer {
  z-index: -3;
  border: 1px solid #ffffff8d;
  background-color: #01010100;

  height: 74vw;
  width: 74vw;
  border-radius: 50%;
  animation: lines 7s ease-in-out infinite;
  top: 50%;
  transform: rotateZ(0deg);
}

.liconl {
  left: 50%;
}

.header-container {
  position: fixed;
  opacity: 1;
  top: -5vw;
  transition: 0.2s ease-in-out;
  z-index: 20;
}

.nlogo {
  height: 5vw;
  margin: 1vw;

  margin-left: 5vw;
  margin-right: 5vw;
}

.navbar {
  position: fixed;
  z-index: 13;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  height: 4vw;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.nav-logo {
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 2.3vw;

  margin-left: 5vw;
  margin-right: 5vw;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.hc .nav-link {
  font-size: 0.9vw;
}

.hc {
  position: relative;
  transform: translate(0%, 0%);
  left: 0%;
  top: 0%;
}

.hc ul li {
  padding-top: 0%;
}

.acola {
  text-decoration: none;
  color: #2b2b2b;
}

.underline {
  position: relative;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.underline2 {
  position: relative;
  animation: oo 4s infinite ease-in-out;
  animation-play-state: running;
}

@keyframes oo {
  0% {
    right: 0;
    width: 0;

    background-color: #00000090;
  }
  80% {
    border-color: rgba(0, 0, 0, 0.291);
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
    border-color: rgba(0, 0, 0, 0.291);
  }
}

.link {
  height: 4vw;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  width: fit-content;
  margin-top: 5%;
  /* margin-left: 9%; */
  background-color: #4242426c;
  background-color: #2e2e2e52;
  padding: 1vw;
  text-transform: uppercase;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 2vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 1.2vw;
  line-height: 1.8vw;

  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}

.link-icon {
  position: relative;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.8vw;

  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
  fill: white;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
  /* background-color: #ffffff;
  color: black; */
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

.hculi {
  padding: 7px 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  min-width: 6vw;
  transition: 0.1s;
}

.hculi:hover {
  background-color: #00000000;
  color: var(--f0);
  border-bottom: 2px solid white;
}

.rl {
  background-color: rgba(0, 0, 0, 0);
  height: 4vw;
}

.rl:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,
    0 0 92px #0fa;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9c5;
  min-width: 160px;
  z-index: 1;
  /* right: -60%; */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9vw;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hc {
  transition: 0.3s ease-in-out;
}

.navbar {
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.artt_ti {
  position: absolute;
  margin-top: 40vw;
  margin-top: 14%;
  margin-top: 22%;
  width: 100%;
  font-size: 1.4vw;
  font-family: "Advent Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.661);
  padding: 1%;
  width: fit-content;
  z-index: 2;
  transition: 0.3s ease;
  display: none;
}
.sec_title2 {
  background: #00000000;
  padding: 5vw;
  font-weight: 200;
  position: absolute;
  z-index: 2;
}

.s3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.fades {
  width: 100%;
  background-color: #000;
  height: 300px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.92021816050639) 21%,
    rgba(0, 0, 0, 0.8641957515428046) 40%,
    rgba(0, 0, 0, 0.7745598972010679) 53%,
    rgba(0, 0, 0, 0.6120949112066701) 69%,
    rgba(0, 0, 0, 0.3151761436996674) 86%,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  z-index: 1;
}

[data-aos="slide"] {
  /* transform: translate(80%);*/
  transition-property: transform;
  animation: none;
  width: 100%;
  background-color: #42424280;
}

[data-aos="slide"].aos-animate {
  /* transform: translate(0%); */
  animation: wset 0.5s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes wset {
  100% {
    width: 21vw;
    background-color: #424242;
  }
}

[data-aos="slidee"] {
  /* transform: translate(80%);*/
  transition-property: transform;
  animation: none;
  width: 100%;
  background-color: #42424280;
}

[data-aos="slidee"].aos-animate {
  /* transform: translate(0%); */
  animation: wsett 0.5s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes wsett {
  100% {
    width: 32%;
    background-color: #424242;
  }
}

.rel-mus-cont {
  margin: 10vw;
  height: 100%;
  background: rgba(88, 88, 88, 0);
  margin-top: 0vw;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.s5 {
  height: max-content;
}

.muti {
  text-align: center;
  margin-left: 0%;
  padding-top: 2%;
  padding-bottom: 4%;
}

.muco {
  margin-top: 10%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  margin-top: 0%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
  row-gap: 3vw;
  justify-content: space-evenly;
  padding-bottom: 1vw;
}
.mav {
  height: 22vw;
  width: 4vw;
  position: absolute;
  background-color: #000000;
  z-index: 2;
  float: right;
  right: 9vw;
  /* top: 1vw; */
  transform: translate(0vw, 0vw);
  display: none;
}
/* .muco {
  margin-top: 10%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  margin-top: 5%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  row-gap: 4vw;
} */

/* .muco {
    margin-top: 10%;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 255, 170, 0);
    margin-top: 0%;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 255, 170, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    justify-content: space-around;
    column-gap: 3vw;
    justify-content: space-evenly;
    align-items: center;
  } */

.muco {
  margin-top: 10%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  margin-top: 0%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  column-gap: 3vw;
  overflow-x: scroll;
  overflow-y: hidden;
}

.albcon {
  height: max-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.alco {
  height: 18vw;
  width: 18vw;

  background-color: #0074d9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alti {
  font-style: medium;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 27px;
  text-align: center;
  margin-top: 0.7vw;
  color: #ffffff;
}

.big {
  margin-top: 10%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  margin-top: 0%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 3vw;

  overflow-y: hidden;

  align-items: center;
  align-content: center;
  width: fit-content;
}

.alart {
  font-family: "IBM Plex Sans Hebrew";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9vw;
  line-height: 18px;
  text-align: center;

  margin-top: 4%;
  color: rgba(255, 255, 255, 0.6);
}

.albut {
  width: fit-content;
  max-width: fit-content;
  margin-top: 7%;
}

.linesep {
  width: 60%;
  background: rgba(238, 238, 238, 0.3);
  height: 2px;
  margin-top: 5%;
}

.linesep1 {
  width: 2px;
  background: rgb(238 238 238 / 50%);
  height: 7vw;
  opacity: 0.3;
}

.rel-musvid-cont {
  margin: 10vw;
  height: 100%;
  background: rgba(88, 88, 88, 0);
  margin-top: 0vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.alvdesc {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.alvidti {
  font-size: 1vw;
  font-weight: 100;
  font-style: normal;
  max-width: 80%;
  line-height: 150%;
}

.mvid {
  height: 18vw;
  width: 33vw;

  height: 17vw;
  width: 31vw;

  width: 30vw;
}

.momuco {
  justify-content: center;
  margin-top: 10%;
  width: 100%;
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  margin-top: 0%;
  /* width: 100%; */
  height: max-content;
  background-color: rgba(0, 255, 170, 0);
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  row-gap: 1vw;
  /* overflow-x: scroll; */
  overflow-x: hidden;
  overflow-y: hidden;
}
.myo {
  height: 18vw;
  width: 33vw;
  height: 11vw;
  width: 31vw;
  width: 21vw;
}

#player {
  width: 21vw;
  height: 12vw;

  width: 17vw;
  height: 10vw;
}
::-webkit-scrollbar {
  width: 4px; /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
  z-index: 3;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.albcon:hover {
  background-color: rgba(238, 238, 238, 0.3);

  /* filter: brightness(1.1); */
}

.artist_info {
  margin: 9vw;
  display: flex;
}

.artistinfo-con {
  width: 100%;
  height: fit-content;
  height: 15vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;

  align-items: center;
}

.art_info_box {
  height: 17vw;
  width: 25vw;
  height: 15vw;
  width: 23vw;
  background: #42424232;
  /* backdrop-filter: blur(2px); */
  border-radius: 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  color: #eee;
}

.text_1 {
  font-family: "LINC";
  font-family: "cocoon";
  font-size: 5vw;
  padding: 2vw;
  font-weight: 900;
}

.text_2 {
  font-size: 2vw;
  font-family: "cocoon";
}

.lookart-con {
  position: absolute;
  /* margin: 9%; */
  /* margin-top: 12%; */
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  row-gap: 3vw;
  width: 100%;
  left: 50%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.92021816050639) 21%,
    rgba(0, 0, 0, 0.8641957515428046) 40%,
    rgba(0, 0, 0, 0.7745598972010679) 53%,
    rgba(0, 0, 0, 0.6120949112066701) 69%,
    rgba(0, 0, 0, 0.3151761436996674) 86%,
    rgba(0, 0, 0, 0) 100%
  );
  /* padding: 2%; */
  /* padding-left: 3%; */
  height: 20vw;
  /* padding-right: 3%; */
  /* bottom: 1vw; */
  transform: translate(-50%, -117%);
}

.jo22 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 2vw;
  /* margin-top: 3vw; */
}

.cst {
  margin-bottom: 18vw;
}

.cont {
  width: 100%;
  display: flex;
  background-color: #4242422c;
  width: 100%;
  height: 21vw;
}

.sitem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-right: 9%;
}

.simg {
  height: 35vw;
  /* position: absolute; */
  /* top: 0; */
  transform: translate(15%, -3%);
  margin-right: 18%;
}

.seit {
  height: 22vw;
  transform: translate(22%, -10%);
  margin-right: 18%;
}

.sitr {
  flex-direction: row-reverse;
  margin-right: 0;
  margin-left: 9%;
}

.conntl {
  margin-top: 13vw;
}

.conntll {
  margin-top: 10vw;
}

.sdetcon {
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  /* gap: 4vw; */
}

.stit {
  /* position: absolute; */
  margin-top: 0px;
  margin-left: 0px;
  /* top: -18%; */
  /* transform: translate(0vw, -3vw); */
}

.sdet {
  /* height: 11vw; */
  margin: 2vw 0vw;
  font-weight: 100;
  font-size: 1.1vw;
  /* margin-top: 3%; */
  font-style: normal;
  color: #eee;
  /* width: 50%; */
  /* margin-left: 9%; */
  line-height: 150%;
}

.s4 {
  height: inherit;
  margin-bottom: 10vw;
  height: 126vw;
}

.seit2 {
  height: 26vw;
  transform: translate(22%, -0%);
  /* margin-right: 18%;*/
}

@keyframes blink1 {
  3% {
    background: #ffffff8f;
    color: #000;
  }

  30% {
    background: #ffffff8f;
    color: #000;
  }

  33% {
    background: #42424232;
    color: rgb(255, 255, 255);
  }
}

@keyframes blink2 {
  30% {
    background: #42424232;
    color: rgb(255, 255, 255);
  }

  33% {
    background: #ffffff8f;
    color: #000;
  }

  63% {
    background: #ffffff8f;
    color: #000;
  }

  66% {
    background: #42424232;
    color: rgb(255, 255, 255);
  }
}

@keyframes blink3 {
  63% {
    background: #42424232;
    color: rgb(255, 255, 255);
  }

  66% {
    background: #ffffff8f;
    color: #000;
  }

  96% {
    background: #ffffff8f;
    color: #000;
  }

  100% {
    background: #4242420d;
    color: rgb(255, 255, 255);
  }
}

.mastcon {
  width: 100%;
  border: 0px solid white;
}

.mastexp {
  width: 100%;
  padding: 4% 9% 0% 9%;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 2vh;
  font-style: italic;
  line-height: 1.7vw;
  text-align: center;
}

.mastexp2 {
  width: 100%;
  padding: 9% 9% 0% 9%;
  padding: 4vw 12vw 0vw 12vw;
  padding: 0vw 12vw 7vw 12vw;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 2vh;
  line-height: 1.7vw;
  opacity: 0.8;
  text-align: center;
}
#sto {
  margin-bottom: 10vw;
}
.ser {
  margin-bottom: 6vw;
}

.mastconin {
  margin: 9%;
  margin-bottom: 3%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  gap: 4vw;
}

.mastccard {
  width: 24vw;
  height: 39vw;
  background: #4242422c;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.mastccard:hover {
  /* border: 2px solid white; */

  background: #42424261;
}
.s7 {
  height: 90vw;
}

.masimg {
  width: 20vw;
  margin-top: 2vw;
}

.mastti {
  width: 298px;
  height: 37px;
  left: 191px;
  top: 422px;

  font-family: "cocoon";
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 37px;
  text-align: center;
  /* identical to box height */

  margin: 1.7vw;
  margin-bottom: 1.4vw;

  color: #ffffff;
}

.masline {
  height: 2px;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.7);
}

.mastpt {
  margin-top: 2vw;
  font-size: 1vw;
}

.mastbut {
  margin: 2vw;
  width: 80%;
  background: #ffffff12;
  height: 2.8vw;
  border-radius: 7px;
  color: #000;
  text-align: center;
  font-family: "cocoon";
  font-weight: 900;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  cursor: pointer;
  /* border: 2px solid rgba(255,
   255, 255, 0); */
  font-size: 1.2vw;
  margin-top: 2.4vw;
}

.mastbut:hover {
  /* background: #000; */
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.485);
}

.mastab {
  height: 30vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  display: none;
}

.mastcon {
  border: 0px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mastinfcard {
  border: 0px solid white;
  width: 32vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  width: 24vw;
}

.mastinfcon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  gap: 1.3vw;
  display: none;
}

.wavti {
  font-family: "cocoon";
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 37px;
  line-height: 32px;
  text-align: center;
  font-weight: 800;
  border-bottom: 2px solid #ffffff00;
  transition: 0.2s ease-in-out;
}

.mastinfcard:hover .wavti {
  font-family: "cocoon";
  font-style: normal;
  font-weight: 300;
  font-size: 1.3vw;
  line-height: 32px;
  text-align: center;
  font-weight: 800;
  border-bottom: 2px solid #ffffffb5;
}

.wavanim {
  margin-top: 5vw;
}

.wavdesc {
  width: 70%;
  font-style: normal;
  font-weight: 100;
  font-size: 1vw;
  text-align: center;
  margin-bottom: 5vw;
  opacity: 0.8;
}

.massvg {
  height: 50px;
  height: 4.5vw;
}

.cani {
  fill: white;
  animation: mo 9s ease-in-out infinite;
}

@keyframes mo {
  0% {
  }

  1% {
    fill: grey;
  }

  25% {
    fill: grey;
  }

  30% {
    fill: white;
  }
}

.hahah {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  padding-top: 4%;
  text-decoration: underline;
  letter-spacing: 0.2vw;
  display: none;
}
.tpcon {
  margin: 9%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 8vw;
}
.tpimg {
  height: 30vw;
  transition: 0s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* .tpimg {
  background: url("./Screenshot 2022-10-08 132149.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
  width: 38vw;
  width: 48vw;
  transition: 0s ease-in-out;
} */
.s8 {
  height: max-content;
  display: none;
}
.tpicon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.tpdec {
  opacity: 0;
  width: 51vw;
  height: 30vw;
  position: absolute;
  background-color: rgb(255, 255, 255);
  background-color: rgb(0 0 0 / 62%);
  transition: 0.3s ease-in-out;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tpdti {
  padding: 2vw;
  font-size: 2vw;
  letter-spacing: 0.4vw;
  position: absolute;
  background: #00000057;
  transition: 0.3s ease-in-out;
  /* margin-left: 8vw; */
}

.tpd {
  margin-left: 8vw;
  font-size: 1.3vw;
  font-weight: 600;
  /* width: 88%; */
  margin-right: 8vw;
  margin-top: 1vw;
}
.tdpl {
  margin-top: 1vw;
  width: 80%;
  font-size: 1vw;
  font-style: normal;
  font-weight: 200;
  margin-left: 5vw;
}

.td11 {
  border-bottom: 2px solid white;
  width: max-content;
  /* margin: 0vw 2vw 0vw 2vw; */
  font-weight: 600;
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
}
.tpimg:hover .tpacimg {
  transform: scale(1.1);
  filter: brightness(0.7);
  height: 30vw;
  width: 82vw;
}
#ii1 {
  background: url("./singing-in-the-brain-neural-populations-that-respond-to-song-identified-358862-640x360.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ii2 {
  background: url("./AdobeStock_315540556.jpeg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#ii3 {
  background: url("./07g8fLK80C4OtNDojYQtUma-11.webp");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tpacimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
  width: 51vw;
  transition: 0.3s ease-in-out;
  filter: opacity(0.5);
}

.tpimg:hover .tpdec {
  opacity: 1;
  width: 82vw;
}

.tpimg:hover ~ .aa {
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
}
.tpimg:hover .tpaa {
  background: rgba(0, 0, 0, 0);
  transform: translate(-34vw, -13.5vw);
  opacity: 1;
}

.tpimg:hover .aa {
  transform: translate(35vw, 13vw);
  color: white;
  opacity: 1;
}
.tptext {
  transform: translate(0px, -20vw);
  float: right;
  font-size: 2vw;
  font-weight: 800;
  font-family: "";
  text-align: center;
}

#Capa_1 {
  height: 2vw;
}

.tpaa {
  font-family: "OCRAq";
  font-style: normal;
  font-weight: 400;
  font-size: 3.5vw;
  transform: translate(-57vw, -10vw);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  width: fit-content;
  font-family: OCRAq;
  background: rgb(0 0 0 / 0%);
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  transform: translate(-2vw, -32vw);
  text-decoration: none;
  /* border-left: 2px solid rgb(255 255 255); */
  width: fit-content;
  position: absolute;
  padding: 2vw 1vw 1.5vw 4vw;
  color: rgb(255 255 255);
  /* border-bottom: 2px solid rgb(255 255 255); */
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: translate(-19vw, -13.5vw);
  opacity: 0;
}

.aa {
  display: block;
  width: 16vw;
  height: 8vw;
  line-height: 40px;
  font-size: 1.6vw;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  border-right: 2px solid rgb(255 255 255);
  border-bottom: 2px solid #fff;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-weight: 200;
  z-index: 2;
  position: absolute;
  transform: translate(37vw, -6vw);
  transform: translate(19vw, 12.5vw);
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.aa span {
  position: absolute;
  z-index: 2;
  width: fit-content;
  width: 138vw;
  background-color: #00000000;
  transition: 0.2s ease-in-out;
  padding: 2.1vw 1.9vw;
  /* left: -18vw;
  animation: scrte 5s linear infinite; */
}
@keyframes scrte {
  100% {
    left: -92vw;
  }
}

.aa:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: 0.2s ease-in-out;
}

.aa:hover {
  color: rgb(255, 255, 255);
  background: #ffffff;
}

.aa:hover span {
  color: #000000;
  background-color: #ffffff;
}

.aa:hover:after {
  width: 100%;
  background: #ffffff;
}

.parti {
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
}
.s11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 26vw;
}
.pcti {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  font-size: 2.1vw;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.partciv {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  width: 50vw;
  justify-content: center;
  width: 50%;
  gap: 7vw;
  padding-bottom: 3vw;
}
.st0 {
  fill: #ffffff;
}

.dddpart {
  /* height: 10vw; */
  width: 15vw;
  padding-bottom: 0.3vw;
}

.partcon {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.partcard {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bbig {
  height: 31vw;
  width: 31vw;
  width: 55vw;
}

.alhid {
  display: none;
}

.alyo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.notify {
  background: #ffffff;
  position: fixed;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%, -50%);
  /* min-height: 40px;*/
  height: 5%;
  min-width: 300px;
  /* width: 60%; */
  width: 50%;
  border-radius: 7px;
  padding: 2% 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  gap: 3%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  z-index: 5;
}
.notify-content {
  color: #000;
  font-size: 1vw;
  font-weight: 500;
}

.notify-button {
  background: #000;
  color: white;
  border-radius: 7px;
  border-color: black;
  font-weight: 600;
}

.disnon {
  display: none;
}

.hno {
  cursor: pointer;
  text-decoration: underline;
}
.hno:hover {
  color: black;
  font-weight: 500;
}
.hint-cont {
  position: fixed;
  display: block;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -7%);
  text-align: center;
  font-family: OCRAq;
  font-size: 1vw;
  font-weight: 200;
  opacity: 0.8;
  content: "";
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 1;
}

.jj:hover {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.logged {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  gap: 2vw;
  display: none;
  align-items: center;
}

.profile-fa {
  font-size: 1.6vw !important;
}

.prof-con {
  font-size: 3vw !important;
}

.acc-name {
  cursor: pointer;
  text-decoration: underline;
}

.comment_area {
  background: #00000008;
  color: white;
  font-size: 1vw;
  font-family: "Inder";
  margin-top: 8%;
  margin-bottom: 12%;
  width: 30vw;
}
.comment_area:hover {
  background: rgba(28, 28, 28, 0.4);
}
.ocntti {
  font-size: 1.7vw;
  font-family: "cocoon";
  font-weight: 900;
  margin: 2%;
  margin-bottom: 8%;
}
.s16 {
  height: 42vw;
}

.com-con {
  height: 100%;
  margin-left: 9vw;
  margin-right: 9vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  gap: 10vw;
}
.desdiv {
  background: rgb(255, 255, 255);
  background: #4242422c;
  height: 26vw;
  width: 100%;
  position: absolute;
  left: 50%;
  /* top: 50%; */
  transform: translate(-50%, 0%);
  z-index: -1;
}

.fon {
  font-size: 1.4vw;
  font-family: "cocoon";
  font-weight: 900;
  color: #000;
  color: white;
}
.fonn1 {
  border: 1px solid #ffffff73;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #000;
  background-color: #0000006b;
  border-radius: 7px;
  -webkit-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -16px rgba(0, 0, 0, 0.75);
}
.text-group {
  position: relative;
  margin-top: 2vw;
  width: 100%;
  font-family: Inder;
  width: 30vw;
}
input {
  font-size: 1vw;
  padding: 1vw 1vw 1vw 1vw;
  display: block;
  /* width: 300px; */
  border: none;
  border-bottom: 1px solid #b7b7b7;
  border-bottom: 1.1px solid #ffffffc5;
  background-color: transparent;
  color: white;
  width: 100%;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
.text-group label {
  color: rgb(175, 175, 175);
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 1%;
  top: 1vw;

  left: 2%;
  top: 0.7vw;

  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  font-size: 1vw;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -0.8vw;

  font-size: 0.8vw;
  color: rgba(255, 255, 255, 0.9);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  /* width: 300px; */
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  /* width: 100px; */
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #d7d7d7;
  }
  to {
    width: 0;
    background: transparent;
  }
}

input[type="submit"] {
  background: rgb(255, 255, 255);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 100%;
  font-weight: 900;
  font-family: "cocoon";
  font-weight: 500;
  font-family: "Inder";
  font-size: 1.2vw;
  text-align: center;
  /* height: 2.8vw; */
  border-radius: 4px;
  /* margin-top: 2vw;     */
  width: 20vw;
}
input[type="submit"]:hover {
  opacity: 0.7;
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5028512137276786) 30%, rgba(255,255,255,0.5028512137276786) 50%, rgba(255,255,255,0.4972489728313201) 70%, rgba(255,255,255,1) 100%); */
}
input[type="submit"]:active {
  background: rgb(61, 61, 61);
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

#nbut {
  margin-top: 3%;
  font-family: "cocoon";
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* #nbut:hover {
  color: black;
  background: white;
} */

.wbut-con {
  width: 100%;
  height: 17vw;
  border: 0px solid white;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.wbut {
  width: 11vw;
  height: 5vw;
  color: rgb(0, 0, 0);
  background: white;
  transform: skewX(10deg);
}

.wbut:hover {
}

.wbutin {
  width: 11vw;
  height: 5vw;
  color: white;
  background: rgb(0, 0, 0);
  background-color: #1f1f1f;
  position: absolute;
  transition: 0.2s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 1vw;
  font-weight: 700;
  font-family: "cocoon";
  justify-content: center;
}
.wbutin:hover {
  transform: translate(-5%, -10%);
}

.s22 {
  height: 18vw;
  min-height: 0px;
}

.last-con {
  /* margin-top: 5%; */
  height: 10vw;
  background: #ffffff21;
  background: transparent;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  display: none;
}

.lastspe {
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: 900;
  font-family: "cocoon";
}

.fonn1scr {
  position: absolute;
  background-color: #000;
  width: 37vw;
  display: flex;
  height: 42vw;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 2.8vw;
  font-size: 1.4vw;
  z-index: -5;
  opacity: 0;
}
