.even_name{
    position: relative;margin-top: 0vh;     font-size: 3vw;
}
.even_slog{
    font-size: 1vw;
}
#boir{
    display: block; visibility: visible; z-index:1; position:relative; height:fit-content; width:85%; border:0px; margin-top:2%;  left: 50%; top: 0%; transform: translate(-50%,0);
    border: 2px solid rgba(192, 192, 192, 0.1);
}
.hi{
    margin-top: 0%;
}
.even_d_t{
    font-size: 2vw; margin-bottom: 2.1em; margin-top: 2.1em;
}
.even_desc{
    line-height: 1.5vw; margin-right:0%; font-size:1vw;margin-bottom: 2vw;
}
.ccc{
    font-size: 2vw; margin-bottom: 2.1em; margin-top: 2.1em;
}
.even_desc_r{
    list-style-type: square;    line-height: 1.3vw; font-size:1vw;margin-bottom: 2vw;
}
.eww{
    width: 100%;height: 14vw;    display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: space-around;
align-items: center;    margin-top: 1vw;
margin-bottom: 1vw;
}
.botbut{
    width:100%; bottom: 0vw; padding-left: 0%;left:0%; transform:translate(0%,0%);
display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;    position: relative;
}
.b3{
    margin-top:-1vw;margin-bottom:1vw;position: relative;left:0%; transform:translate(0%,0%);z-index:2; padding:1.2vw 4vw 1.2vw 4vw;    right: 0%;text-align:center;margin-left: 0vw;
}

#logo_id{
    opacity: 0;
}
#loid{
    opacity: 1;
}
@media only screen and (max-width: 769px) {
    .event_main{
        padding: 2vh;
    position: relative;
    margin-top: 20vh;
    
    margin-bottom: 7vh;
    }
    .even_name{
        font-size: 4vh;
    }
  .even_slog{
    font-size: 1.5vh;
    margin-top: 4vw;
  }
  #boir{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border: 0px;
  }
  .popc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .inl{
      display: none;
  }
  .cenli{
      display: none;
  }
  .even_desc {
    line-height: initial;
    margin-right: 0%;
    font-size: 90%;
    font-weight: 200;
    margin-bottom: 0vw; 
    width: 100%;
    padding: 0%;
    padding-inline-start: 0px;
    padding: initial;
    text-align: center;
    padding-left: 6%;
    padding-right: 6%;
}
.hi{
    margin-top: 0%;
}
.even_d_t{
    font-size: 150%; 
     margin-bottom:  0%; 
     margin-top: 5%;
}
.even_desc_r{ 
        line-height: initial;
        margin-right: 0%;
        font-size: 90%;
        font-weight: 200;
        margin-bottom: 0vw; 
        width: 100%;
        padding: 0%;
        padding-inline-start: 0px;
        padding: initial;
        text-align: left;
        padding-left: 12%;
    padding-right: 6%;
    list-style-position: inside;
}
.even_desc_r li{
    list-style: none;
    margin: 10px 0;
}
.ccc{
    margin-top: 14vw;
}
.b1,.b2,.b4,.b5{
    font-size: 90%;
    
    padding: 6px 10px;
    margin: 8px;
}
.b3{
    
    font-size: 90%;
    
    padding: 14px 27px;
    margin: 0px;
    margin-top: 14vw;
}
.botbut{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
    margin-top:20%;
}
.eww{
    height: fit-content;
    margin-top: -8vw;
    margin-bottom: 18vw;
}
#logo_id{
    opacity: 1;
}
#loid{
    opacity: 0;
}
}
